input{
    
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;

}



#map-google{
    
   
    z-index: 1;
    border: 2px none white;
    width: 400px;
    height: 500px; 
   
    right: 100px;
    top:180px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
    text-align: center;

}
#contact{

    display:inline-block;
    flex-direction:column;
    text-align:right;
    position: relative;
}


#google{
    text-align:justify;
    max-width: 100%;
    max-height: 100%;
}

#legende_logo{

    position:relative;
} 


.container{
        padding:0 0.5em;
        align-items: center;
        margin-left: 200px;
              
}

ul#menu-projet 
    li{ 
        display : inline;
         }
ul#menu-projet {
        list-style-type : none;
        text-align: justify;
        
}

.image{
    padding: 10px;
    background-color: white;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.image:hover {
    transform: scale(1.5);
}

.button {
    background-color: #99d6ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}